.fil_solutions_title{
	text-align: center;
	font-size: 50px;
	color: #262626;
	margin-top: 40px;
}
.of_h{
	overflow: hidden;
}
.ins_img{
	float: left;
}
.ins_des{
	float: right;
	display: inline-block;
	text-align: right;
	width: 50%;
}
.ins_des_title{
	color: #ffffff;
	display: inline-block;
	background: #FF0000;
	width: 250px;
	font-size: 32px;
	text-align: center;
	border-radius: 10px;
	line-height: 60px;
	margin-top: 45px;
}
.ins_des_content{
	display: inline-block;
	color: #262626;
	font-size: 24px;
	margin-top: 60px;
	text-align: center;
}
.fil_solutions_a{
	margin-top: 78px;
}
.line_title{
	text-align: center;
	margin-top: 66px;
}
.line_title img{
	margin: auto;
}
.line_title span{
	font-size: 38px;
	color: #262626;
	margin-top: -25px;
	display: inline-block;
}
.pros{
	display: inline-block;
	margin-top: 200px;
	margin-left: 200px;
}
.pros_area img{
	float: right;
	margin-top: 134px;
}
.pros_title{
	font-size: 32px;
	color: #333333;
}
.pros_content{
	font-size: 24px;
	color: #333333;
	display: inline-block;
	margin-left: 20px;
}
.sols{
	display: inline-block;
	width: 50%;
	float: right;
}
.sols_area{
	margin-top: 96px;
}
.sols_area img{
	float: left;
}
.sols_title{
	color: #ff4040;
	font-size: 24px;
	display: inline-block;
	line-height: 60px;
}
.sols_content{
	color: #262626;
	font-size: 24px;
	display: inline-block;
	line-height: 60px;
}
